<h1>Form experiments</h1>

<form action="goodbye">
  <label for="form1">first name</label>
  <input id="form1" type="text" name="var1">

  <label for="form2">last name</label>
  <input id="form2" type="text" name="var2">
  
  <button>Go to /goodbye</button>
</form>
