<!--<h1>Calculate a loan payment</h1>-->
<form action="/payment/results">
  <label for="form1">APR</label>
  <input id="form1" type="text" name="rate">
  <label for="form2">Number of years</label>
  <input id="form2" type="text" name="nper">
  <label for="form3">Principal</label>
  <input id="form3" type="text" name="pv">
  <button>Calculate payment</button>
</form>
