<!--<h1>Calculate a loan payment</h1>-->
<form action="/random/results">
  <label for="form1">Minimum</label>
  <input id="form1" type="text" name="lownum">
  <label for="form2">Maximum</label>
  <input id="form2" type="text" name="highnum">
  <button>Pick random number</button>
</form>
