<!-- randomresult.erb -->
<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    
    <%=@lownum%>
  </dd>  

  <dt>
    Maximum
  </dt>
  <dd>
    <%=@highnum%>
  </dd>  

  <dt>
    Random Number
  </dt>
  <dd>
    <%=@the_result%>
  </dd>  
</dl>

<a href="/random/new">
  Pick another random number
</a>

