<!--<h1>Calculate a square root of a number</h1>-->
<form action="/squareroot/results">
  <label for="form1">Enter a number</label>
  <input id="form1" type="text" name="users_number">
  <button>Calculate square root</button>
</form>
